#filter
  - filtering_options.each do |option|
    %a{:id => "filter-#{option.type}", :class => "filter-option", :href=>"#"}= option.display
    %div{:id => "#{option.type}-selector", :class => "selector"}
      - option.items.each do |category, items|
        .selector-column
          %p.selector-title= category
          - items.each do |item|
            %ul
              %li
                %input{:type => "checkbox", :id => item[0], :name => "s", :value => item[0], :checked => true}
                %label{:for => item[0]}= item[1]
      .selector-actions
        %button#search Search
        %button#select-all Select all
        %button#reset Reset
        %a#close-collection-selector{:href => "#"} Close