@import base.sass

body
  font-family: "Helvetica", "Arial", sans-serif

.message
  :margin-left 120px
  :padding 0.4em
  :background-color #C8C7E7
  :float left

#bottom
  :clear both
  :padding 1em 0px 30px 120px 
  a
    :font-size 0.6em
    :letter-spacing 1px
    :line-height 0.9em
    :padding 0.3em 0.5em 0.3em 0.3em
    :color black
    &:hover
      :color white
      :background black

// Opera z-index bugfix
#menu-wrapper, #search, #filter
  z-index: 999999

#menu-wrapper
  margin: 25px 0px 70px 41px

  #title
    font-weight: bold
    margin-bottom: 1em

  #search
    #query, #filter, #submit
      float: left
  
    > div > label
      font-size: 0.8em
  
    #format, #sources
      margin-left: 2em
  
    #query input
      font-family: "Helvetica", "Arial", sans-serif

#filter
  font-size: 0.8em
  //  position: relative
  line-height: 1.7
  a
    &.filter-option
      color: blue
      font-variant: small-caps
      font-weight: normal
      padding: .2em 1em
  
      &:hover
        color: black
        border: none
        background: #BFBFBF
        filter: alpha(opacity=90)
        -moz-opacity: 0.90
        -khtml-opacity: 0.90
  
    &.filter-option-activated
      color: black
      border: none
      background: #BFBFBF
      filter: alpha(opacity=90)
      -moz-opacity: 0.90
      -khtml-opacity: 0.90
      background: #CCCCCC
      text-decoration: none
      border-bottom: 2px solid black

  .selector
    border-top: 1px solid #AAAAAA
    padding: 0.3em
    position: absolute
    top: 1.6em
    background: #CCCCCC
    filter: alpha(opacity=90)
    -moz-opacity: 0.90
    -khtml-opacity: 0.90
    visibility: hidden
    z-index: 999999

  .selector-column
    float: left
    padding: 1em
  
    &:hover
      background-color: #B3B3B3
  
    p.selector-title
      font-variant: small-caps
      text-transform: uppercase
      margin-bottom: 0.8em
      font-size: 1.1em
      font-weight: bold
  
    ul
      display: none
  
    li
      border-top: 1px dashed #666666
      clear: both
      float: left
      line-height: 1.3
      padding: 0.8em 0em
      position: relative
  
      &:hover
        background-color: #BBBBBB
  
      input
        vertical-align: top
        margin-right: 0.5em
        float: left
  
      label
        display: inline
        width: 20em
        letter-spacing: 0px
  
  .selector-actions
    margin: 1em
    padding-top: 1em
    border-top: 1px solid #888888
    clear: both
  
    button
      margin-right: 0.6em
  
    a
      color: blue
  
      &:hover
        color: red
  
  a.filter-options
    font-variant: small-caps

#blocksmenu
  margin-left: 34px
  float: left
  position: fixed
  
  a.block-selector
    display: block
    font-variant: small-caps
    font-size: 0.7em
    background: #EFEFEF
    padding: 0.5em
    margin: 1em 1em 1em 0em
    text-decoration: none
    color: black
    width: 2em
    height: 2em
    line-height: 1.3
    text-align: center

    &:hover
      background: #D7D7D7
    
    span
      font-size: 1.6em
  p a
    font-variant: small-caps

  a
    &.block-menu
      display: block
      font-size: 0.7em
      padding: 0.5em
      margin: 1em 1em 1em 0em
      text-decoration: none

    &.block-selector
      font-variant: small-caps
      background: #EFEFEF
      color: black

      &:hover
        background: #D7D7D7

    &.block-selected
      background: #9B9B9B

  #prev-block, #next-block
    padding: 0em
    margin-top: 1.4em
    margin-left: 7px
    width: 21px
    height: 28px

  #prev-block
    background-image: url(../images/prev-block-off.gif)

    &:hover
      background-image: url(../images/prev-block-on.gif)

  #next-block
    background-image: url(../images/next-block-off.gif)

    &:hover
      background-image: url(../images/next-block-on.gif)

#document
  margin-left: 100px
  float: left
  // WTF: If not, Firefox uses the children's (.imgblock) margin-bottom property ALSO as a margin-top property. WTF.
  border: 1px solid transparent
  .imgblock
    display: block
    margin-bottom: 100px
    // Need to set width, otherwise IE7 clears the containing floats.
    width: 525px

    .imgcontainer
      position: relative
      width: 100px
      height: 75px
      float: left
      margin: 0px 5px 5px 0px

  .nextline
    clear: both
    border: 0px
    height: 0px
    visibility: hidden

  .thumb
    position: absolute
    width: 100px
    height: 75px

  .big
    width: 200px
    height: 150px
    border-width: 0px 10px 10px 0px

#tooltip
  position: absolute
  display: none
  height: auto
  width: 30em
  color: white
  background: #000
  filter: alpha(opacity=80)
  -moz-opacity: 0.8
  -khtml-opacity: 0.8
  opacity: 0.8
  -moz-border-radius: 15px
  -webkit-border-radius: 15px
  border-radius: 15px
  padding: 1em
  z-index: 99999

  p
    font-size: 0.8em
    line-height: 1.2
    margin-bottom: 0

#details-image, #details-image-back
  width: 450px
  position: fixed
  top: 7em
  right: 50px
  // font-size is so top-position matches #details's top-position
  font-size: 0.8em
  // border: 1px solid blue
  // height: 200px

#details-image
  z-index: 1
  
#details-image-back
  z-index: -1

#details
  position: fixed
  top: 3em
  right: 50px
  height: 4em
  overflow: hidden
  width: 410px
  z-index: 99999
  font-size: 0.8em
  padding: 0px 20px
  
  
  #details-title
    font-weight: bold
    
  #details-collection
  
    a
      text-decoration: none
      &:hover
        border-color: white
        color: white
        background: black
  
  #details-title, #details-collection
    display: none
  
#help-box
  position: absolute
  display: none
  z-index: 999999
  font-size: 0.8em
  background: #D7D7D7
  font-weight: bold
  width: 600px
  text-align: center
  padding: 5px 0px
