body
  :font-size 1.4em

form
  :padding 2em

  label
    :display block
    :font-size 1.2em    
    :line-height 2
    
  div
    :margin-right 1em
    :padding 0.3em
  #search
    :float left
    :background #ABABAB
  #format
    :float left
    :background #C7C7C7
    
  #sources
    :background #E7E7E7
    :float left
    div
      :float left
      :padding 0
      :line-height 0.85
      label
        :display inline
        :font-size 0.8em
        :line-height 0.8
  #submit
    :clear both
    :font-size 0.8em
    :display block
    :position relative
    :top 1em