body
  :font-size 1.4em
  :font-family "Helvetica", "Verdana", sans-serif
h1
  :margin 2em 0em 0em 120px
  
h2
  :color #979797
  :margin 1em 0em
  :clear both
  
form
  :padding 2em
  :padding-left 120px
  label
    :display block
    :font-size 1.2em    
    :line-height 2
    
  div
    :margin-right 1em
    :padding 0.3em
  #search
    :float left
    :background #ABABAB
  #format
    :float left
    :background #C7C7C7
    
  #sources
    :background #E7E7E7
    :float left
    div
      :float left
      :padding 0
      :line-height 0.85
      label
        :display inline
        :font-size 0.8em
        :line-height 0.8
  #submit
    :clear both
    :font-size 0.8em
    :display block
    :position relative
    :top 1em

.message
  :margin-left 120px
  :padding 0.4em
  :background-color #C8C7E7
  :float left
  
#switch
  :margin-left 120px
  :font-size 0.6em
  :line-height 0.3
  :padding 0px 1.1em 0px 1.1em
  :border-style solid
  :border-color #333333
  :border-width 0px 20px 0px 20px
  :display inline-block
  
#grid
  :padding-left 120px
  :width 700px
  a
    :float left
    :margin 0px 20px 20px 0px
    :height 100px
    :width 141px
    img
      :height 100px
      :border 0px
    
#list
  :margin-left 120px
  .result
    :clear both
    &>a
      :text-align right
      :float left
      :clear both
      :margin-bottom 50px
  .details
    :margin 0px 0px 50px 190px
    :padding-top 0.2em
    :line-height 1.7
  h3
    :font-size 1em
    
  img
    :width 149px
    
  p
    :font-size 0.8em  

#bottom
  :clear both
  :padding 1em 0px 30px 120px 
  a
    :text-transform lowercase
    :font-size 0.9em
    :line-height 0.9em
    :padding 0.3em 0.5em 0.3em 0em
    :color black
    :font-variant small-caps
    &:hover
      :color white
      :background black