#grid
  - @results.each do |collection,result|
    %h2= collection
    - if result.empty?
      .message No results for this collection.
    - else 
      - result.each do |r|
        %a{:href => r[:url], :target => "_blank"}
          %img{:src => r[:thumb], :alt => r[:title]}