html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

body { font-family: "Helvetica", "Arial", sans-serif; }

.message { margin-left: 120px; padding: 0.4em; background-color: #C8C7E7; float: left; }

#bottom { clear: both; padding: 1em 0px 30px 120px; }
#bottom a { font-size: 0.6em; letter-spacing: 1px; line-height: 0.9em; padding: 0.3em 0.5em 0.3em 0.3em; color: black; }
#bottom a:hover { color: white; background: black; }

#menu-wrapper, #search, #filter { z-index: 999999; }

#menu-wrapper { margin: 25px 0px 70px 41px; }
#menu-wrapper #title { font-weight: bold; margin-bottom: 1em; }
#menu-wrapper #search #query, #menu-wrapper #search #filter, #menu-wrapper #search #submit { float: left; }
#menu-wrapper #search > div > label { font-size: 0.8em; }
#menu-wrapper #search #format, #menu-wrapper #search #sources { margin-left: 2em; }
#menu-wrapper #search #query input { font-family: "Helvetica", "Arial", sans-serif; }

#filter { font-size: 0.8em; line-height: 1.7; }
#filter a.filter-option { color: blue; font-variant: small-caps; font-weight: normal; padding: .2em 1em; }
#filter a.filter-option:hover { color: black; border: none; background: #BFBFBF; filter: alpha(opacity=90); -moz-opacity: 0.90; -khtml-opacity: 0.90; }
#filter a.filter-option-activated { color: black; border: none; background: #BFBFBF; filter: alpha(opacity=90); -moz-opacity: 0.90; -khtml-opacity: 0.90; background: #CCCCCC; text-decoration: none; border-bottom: 2px solid black; }
#filter .selector { border-top: 1px solid #AAAAAA; padding: 0.3em; position: absolute; top: 1.6em; background: #CCCCCC; filter: alpha(opacity=90); -moz-opacity: 0.90; -khtml-opacity: 0.90; visibility: hidden; z-index: 999999; }
#filter .selector-column { float: left; padding: 1em; }
#filter .selector-column:hover { background-color: #B3B3B3; }
#filter .selector-column p.selector-title { font-variant: small-caps; text-transform: uppercase; margin-bottom: 0.8em; font-size: 1.1em; font-weight: bold; }
#filter .selector-column ul { display: none; }
#filter .selector-column li { border-top: 1px dashed #666666; clear: both; float: left; line-height: 1.3; padding: 0.8em 0em; position: relative; }
#filter .selector-column li:hover { background-color: #BBBBBB; }
#filter .selector-column li input { vertical-align: top; margin-right: 0.5em; float: left; }
#filter .selector-column li label { display: inline; width: 20em; letter-spacing: 0px; }
#filter .selector-actions { margin: 1em; padding-top: 1em; border-top: 1px solid #888888; clear: both; }
#filter .selector-actions button { margin-right: 0.6em; }
#filter .selector-actions a { color: blue; }
#filter .selector-actions a:hover { color: red; }
#filter a.filter-options { font-variant: small-caps; }

#blocksmenu { margin-left: 34px; float: left; position: fixed; }
#blocksmenu a.block-selector { display: block; font-variant: small-caps; font-size: 0.7em; background: #EFEFEF; padding: 0.5em; margin: 1em 1em 1em 0em; text-decoration: none; color: black; width: 2em; height: 2em; line-height: 1.3; text-align: center; }
#blocksmenu a.block-selector:hover { background: #D7D7D7; }
#blocksmenu a.block-selector span { font-size: 1.6em; }
#blocksmenu p a { font-variant: small-caps; }
#blocksmenu a.block-menu { display: block; font-size: 0.7em; padding: 0.5em; margin: 1em 1em 1em 0em; text-decoration: none; }
#blocksmenu a.block-selector { font-variant: small-caps; background: #EFEFEF; color: black; }
#blocksmenu a.block-selector:hover { background: #D7D7D7; }
#blocksmenu a.block-selected { background: #9B9B9B; }
#blocksmenu #prev-block, #blocksmenu #next-block { padding: 0em; margin-top: 1.4em; margin-left: 7px; width: 21px; height: 28px; }
#blocksmenu #prev-block { background-image: url(../images/prev-block-off.gif); }
#blocksmenu #prev-block:hover { background-image: url(../images/prev-block-on.gif); }
#blocksmenu #next-block { background-image: url(../images/next-block-off.gif); }
#blocksmenu #next-block:hover { background-image: url(../images/next-block-on.gif); }

#document { margin-left: 100px; float: left; border: 1px solid transparent; }
#document .imgblock { display: block; margin-bottom: 100px; width: 525px; }
#document .imgblock .imgcontainer { position: relative; width: 100px; height: 75px; float: left; margin: 0px 5px 5px 0px; }
#document .nextline { clear: both; border: 0px; height: 0px; visibility: hidden; }
#document .thumb { position: absolute; width: 100px; height: 75px; }
#document .big { width: 200px; height: 150px; border-width: 0px 10px 10px 0px; }

#tooltip { position: absolute; display: none; height: auto; width: 30em; color: white; background: #000; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; padding: 1em; z-index: 99999; }
#tooltip p { font-size: 0.8em; line-height: 1.2; margin-bottom: 0; }

#details-image, #details-image-back { width: 450px; position: fixed; top: 7em; right: 50px; font-size: 0.8em; }

#details-image { z-index: 1; }

#details-image-back { z-index: -1; }

#details { position: fixed; top: 3em; right: 50px; height: 4em; overflow: hidden; width: 410px; z-index: 99999; font-size: 0.8em; padding: 0px 20px; }
#details #details-title { font-weight: bold; }
#details #details-collection a { text-decoration: none; }
#details #details-collection a:hover { border-color: white; color: white; background: black; }
#details #details-title, #details #details-collection { display: none; }

#help-box { position: absolute; display: none; z-index: 999999; font-size: 0.8em; background: #D7D7D7; font-weight: bold; width: 600px; text-align: center; padding: 5px 0px; }
