html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

body { font-family: "Helvetica", "Arial", sans-serif; }

.message { margin-left: 120px; padding: 0.4em; background-color: #C8C7E7; float: left; }

#switch { font-size: 0.8em; line-height: 2.3; padding-bottom: 1em; }

#grid { padding-left: 25px; width: 700px; }
#grid a { float: left; margin: 0px 20px 20px 0px; height: 100px; width: 141px; }
#grid a img { height: 100px; border: 0px; }

#list { margin-left: 25px; }
#list .result { clear: both; }
#list .result>a { text-align: right; float: left; clear: both; margin-bottom: 50px; }
#list .details { margin: 0px 0px 50px 190px; padding-top: 0.2em; line-height: 1.7; }
#list h3 { font-size: 1em; }
#list img { width: 149px; }
#list p { font-size: 0.8em; }

#bottom { clear: both; padding: 1em 0px 30px 120px; }
#bottom a { font-size: 0.6em; letter-spacing: 1px; line-height: 0.9em; padding: 0.3em 0.5em 0.3em 0.3em; color: black; }
#bottom a:hover { color: white; background: black; }

#development, #current { width: 100%; font-size: 0.8em; line-height: 2; padding-left: 1em; }

#menu-wrapper { width: 100%; margin: 25px 0px 0px 25px; }
#menu-wrapper #title { font-weight: bold; margin-bottom: 1em; }

#development { background-color: #F8FFC4; border-bottom: 1px solid #D2E741; }

#current { background-color: #E1EFF7; border-bottom: 1px solid #9FC3D7; }

#search #query, #search #filter, #search #submit { float: left; }
#search > div > label { font-size: 0.8em; }
#search #format, #search #sources { margin-left: 2em; }
#search #query input { font-family: "Helvetica", "Arial", sans-serif; }

#menu-wrapper, #search, #filter { z-index: 999999; }

#filter { font-size: 0.8em; line-height: 1.7; }

a.filter-option { color: blue; font-variant: small-caps; font-weight: normal; padding: .2em 1em; }
a.filter-option:hover { color: black; border: none; background: #BFBFBF; filter: alpha(opacity=90); -moz-opacity: 0.90; -khtml-opacity: 0.90; }
a.filter-option-activated { color: black; border: none; background: #BFBFBF; filter: alpha(opacity=90); -moz-opacity: 0.90; -khtml-opacity: 0.90; background: #CCCCCC; text-decoration: none; border-bottom: 2px solid black; }

.selector { border-top: 1px solid #AAAAAA; padding: 0.3em; position: absolute; top: 1.6em; background: #CCCCCC; filter: alpha(opacity=90); -moz-opacity: 0.90; -khtml-opacity: 0.90; visibility: hidden; z-index: 999999; }

.selector-column { float: left; padding: 1em; }
.selector-column p.selector-title { font-variant: small-caps; text-transform: uppercase; margin-bottom: 0.8em; font-size: 1.1em; font-weight: bold; }
.selector-column li { border-top: 1px dashed #666666; clear: both; float: left; line-height: 1.3; padding: 0.8em 0em; position: relative; }
.selector-column li:hover { background-color: #BBBBBB; }
.selector-column li input { vertical-align: top; margin-right: 0.5em; float: left; }
.selector-column li label { display: inline; width: 20em; letter-spacing: 0px; }

.selector-actions { margin: 1em; padding-top: 1em; border-top: 1px solid #888888; clear: both; }
.selector-actions button { margin-right: 0.6em; }
.selector-actions a { color: blue; }
.selector-actions a:hover { color: red; }

a.filter-options { font-variant: small-caps; }

#blocksmenu { margin-left: 25px; padding-top: 1em; }
#blocksmenu a.block-selector { display: block; float: left; font-variant: small-caps; font-size: 0.7em; background: #EFEFEF; padding: 0.5em; margin: 1em 1em 1em 0em; text-decoration: none; color: black; }
#blocksmenu a.block-selector:hover { background: #D7D7D7; }
#blocksmenu p a { font-variant: small-caps; }
#blocksmenu a.block-menu { display: block; float: left; font-size: 0.7em; padding: 0.5em; margin: 1em 1em 1em 0em; text-decoration: none; }
#blocksmenu a.block-selector { font-variant: small-caps; background: #EFEFEF; color: black; }
#blocksmenu a.block-selector:hover { background: #D7D7D7; }
#blocksmenu a.block-selected { background: #9B9B9B; }

#menu a.block-selected:hover { background: #9B9B9B; }

#blocksmenu #prev-block, #blocksmenu #next-block { padding: 0em; margin-top: 1.4em; width: 28px; height: 21px; }
#blocksmenu #prev-block { background-image: url(/images/prev-block-off.gif); margin-left: 15px; }
#blocksmenu #prev-block:hover { background-image: url(/images/prev-block-on.gif); }
#blocksmenu #next-block { background-image: url(/images/next-block-off.gif); margin-right: 3em; }
#blocksmenu #next-block:hover { background-image: url(/images/next-block-on.gif); }

#document { margin-left: 25px; width: 4100px; clear: both; }
#document .imgblock { margin-right: 105px; float: left; width: 525px; }
#document .imgblock .imgcontainer { position: relative; width: 100px; height: 75px; float: left; margin: 0px 5px 5px 0px; }
#document .nextline { clear: both; border: 0px; height: 0px; visibility: hidden; }
#document .thumb { position: absolute; width: 100px; height: 75px; }
#document .big { width: 200px; height: 150px; border-width: 0px 10px 10px 0px; }

#tooltip { position: absolute; display: none; height: auto; width: 30em; color: white; background: #000; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; padding: 1em; z-index: 99999; }
#tooltip p { font-size: 0.8em; line-height: 1.2; margin-bottom: 0; }

#details { position: absolute; display: none; color: white; background: black; width: 560px; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; z-index: 99999; font-size: 0.8em; padding: 20px; }
#details #details-title { font-weight: bold; }
#details #details-collection { margin-top: 1em; }
#details #details-collection a { background: white; color: black; padding: 3px; border: 2px solid black; text-decoration: none; }
#details #details-collection a:hover { border-color: white; color: white; background: black; }
#details a#details-link { display: block; padding-top: 1.3em; font-size: 0.6em; }
#details #details-collection, #details #details-description, #details #details-link { display: none; }

#help-box { position: absolute; display: none; z-index: 999999; font-size: 0.8em; background: #D7D7D7; font-weight: bold; width: 600px; text-align: center; padding: 5px 0px; }
