body {
  font-family: "Verdana", "Arial", sans-serif;
}

#development, #current {
  width:100%;
  font-size: 0.8em;
  line-height:2;
  padding-left: 1em;
}

#menu-wrapper {
  width: 100%;
  margin: 25px 0px 0px 25px;
}

#menu-wrapper #title {
  font-weight: bold;
  margin-bottom: 1em;
}

#development {
	background-color: #F8FFC4;
	border-bottom: 1px solid #D2E741;
}

#current {
  background-color: #E1EFF7;
	border-bottom: 1px solid #9FC3D7;
}

#search {
}

#search div {
  display: inline;
}

#search > div > label {
  font-size: 0.8em;
}

#search #format, #search #sources {
  margin-left: 2em;
}

#menu {
  margin: 15px 0px 15px 0px;
  line-height: 1.5;
/*  padding-bottom: 2.5em;*/
}

#menu #filter {
  font-size: 0.8em;
  position: relative;
}

#menu a.filter-option {
  color:blue;
  font-variant:small-caps;
  font-weight:normal;
  padding: .2em 1em;
}

#menu a.filter-option:hover, #menu a.filter-option-activated {
  color: black;
  border: none;
  background: #BFBFBF;
  filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
}

#menu a.filter-option-activated {
  background: #CCCCCC;
  text-decoration:none;
  border-bottom: 2px solid black;
}

#menu .selector {
  border-top: 1px solid #AAAAAA;
  padding: 0.3em;
  position: absolute;
  top: 1.6em;
  background: #CCCCCC;
  filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	visibility:hidden;
	z-index: 999999;
}

#menu .selector-column {
  float:left;
  padding: 1em;
}

#menu .selector-column p.selector-title {
  font-variant: small-caps;
  text-transform: uppercase;
  margin-bottom: 0.8em;
  font-size: 1.1em;
  font-weight: bold;
}

#menu .selector-column li {
  border-top:1px dashed #666666;
  clear:both;
  float:left;
  line-height:1.3;
  padding:0.8em 0em;
  position:relative;
}

#menu .selector-column li:hover {
  background-color: #BBBBBB;
}

#menu .selector-column li input {
  vertical-align: top;
  margin-right: 0.5em;
  float: left;
}

#menu .selector-column li label {
  float: left;
  width: 20em;
  letter-spacing: 0px;
}

#menu .selector-actions {
  margin: 1em;
  padding-top: 1em;
  border-top: 1px solid #888888;
  clear: both;
}

#menu .selector-actions button{
  margin-right: 0.6em;
}

#menu .selector-actions a{
  color: blue;
}

#menu .selector-actions a:hover{
  color: red;
}

#menu a.filter-options {
  font-variant: small-caps;
}

#blocksmenu {
  margin-left: 25px;
  padding-top: 1em;
}

#blocksmenu a.block-selector {
  display: block;
  float: left;
  font-variant: small-caps;
  font-size: 0.7em;
  background: #EFEFEF;
  padding: 0.5em;
  margin: 1em 1em 1em 0em;
  text-decoration: none;
  color: black;
}

#blocksmenu a.block-selector:hover {
  background: #D7D7D7;
}

#blocksmenu p a {
  font-variant: small-caps;
}


#blocksmenu a.block-menu {
  display: block;
  float: left;
  font-size: 0.7em;
  padding: 0.5em;
  margin: 1em 1em 1em 0em;
  text-decoration: none; 
}

#blocksmenu a.block-selector {
  font-variant: small-caps;
  background: #EFEFEF;
  color: black;
}

#blocksmenu a.block-selector:hover {
  background: #D7D7D7;
}

#blocksmenu a.block-selected, #menu a.block-selected:hover {
  background: #9B9B9B;
}

#blocksmenu #prev-block, #blocksmenu #next-block {
  padding: 0em;
  margin-top: 1.4em;
  width:28px;
  height: 21px;
}

#blocksmenu #prev-block {
  background-image: url(/images/prev-block-off.gif);
  margin-left: 15px;
}

#blocksmenu #prev-block:hover {
  background-image: url(/images/prev-block-on.gif);
}

#blocksmenu #next-block {
  background-image: url(/images/next-block-off.gif);
  margin-right: 3em;
}

#blocksmenu #next-block:hover {
  background-image: url(/images/next-block-on.gif);
}

#document {
  margin-left: 25px;
  width: 4100px;
  clear: both;
}

#document .imgcontainer {
  position:relative;
  width: 100px;
  height: 75px;
  float: left;
  margin: 0px 5px 5px 0px;
}

#document .imgblock {
  margin-right: 105px;
  float: left;
  width:auto;
}

#document .nextline {
	clear:both;
  border: 0px;
	height: 0px;
	visibility:hidden;
}
#document .thumb {
  position: absolute;
  width: 100px;
  height: 75px;
}

#document .big {
  width: 200px;
  height: 150px;
  border-width: 0px 10px 10px 0px;
}

#details {
  visibility: hidden;
  position: fixed;
  right: -340px;
  top: 0px;
  height: 100%;
  width: 300px;
  background: #CCCCCC;
  filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
  padding: 80px 20px 10px 20px;
  z-index:99999;
}

#details p {
  font-size: 0.8em;
  line-height: 1.2;
  margin-bottom: 1em;
}

#details p#imgtitle {
  font-weight: bold;
}

#details a#imglink {
  display: block;
  padding-top:1.3em;
  font-size: 0.6em;
}

#help-box {
  position:absolute;
  display:none;
  z-index:999999;
  font-size:0.8em;
  background:#D7D7D7;
  font-weight:bold;
  width:600px;
  text-align:center;
  padding:5px 0px;
}

/*DEVELOPMENT UTILITIES*/

/*.zindex {
  background:red;
  position:absolute;
  z-index:99999;
}
*/